@inherits LayoutComponentBase

<div class="d-flex" style="min-height: 100vh;">
    <NavMenu />
    <div class="flex-grow-1">
        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</div>