<nav class="nav flex-column bg-light sidebar p-3" style="min-height: 100vh; width: 220px;">
    <a class="navbar-brand mb-4 fw-bold" href="/">CRUDTasksWithAgent</a>
    <a class="nav-link mb-2 fw-bold" href="/">Task List</a>
    <a class="nav-link mb-2 fw-bold" href="/agentfx">Microsoft Agent Framework Agent</a>
    <a class="nav-link mb-2 fw-bold" href="/foundryagent">Foundry Agent Service</a>
    <a class="nav-link mb-2 fw-bold" href="/openapi/v1.json">OpenAPI schema</a>
</nav>
